<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true">
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/log_${bySecond}.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="se.samuelandersson" level="TRACE" />

	<logger name="com.esotericsoftware" level="DEBUG" />
	<logger name="com.esotericsoftware.kryo" level="INFO" />

	<root level="INFO">
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
